@define-color bg #030104;
@define-color fg #daccd4;
@define-color gray1 #413999;
@define-color gray2 #988e94;
@define-color gray3 #8A0190;
@define-color gray4 #254D9C;
@define-color gray5 #916B9E;
@define-color fg_bright #daccd4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}