@define-color background #030104;
@define-color foreground #daccd4;
@define-color color0 #030104;
@define-color color1 #8F5D7A;
@define-color color2 #413999;
@define-color color3 #254D9C;
@define-color color4 #8A0190;
@define-color color5 #916B9E;
@define-color color6 #1597D2;
@define-color color7 #daccd4;
@define-color color8 #988e94;
@define-color color9 #8F5D7A;
@define-color color10 #413999;
@define-color color11 #254D9C;
@define-color color12 #8A0190;
@define-color color13 #916B9E;
@define-color color14 #1597D2;
@define-color color15 #daccd4;